<!-- wp:heading {"level":3} -->
<h3 id="create-a-new-aztec-release">Create an Aztec Release {{ if .conditional }}(conditional){{ end }}</h3>
<!-- /wp:heading -->

{{ if .conditional }}
<!-- wp:paragraph -->
<p>ℹ️ If <code>gutenberg-mobile/RNTAztecView.podspec</code> and <code>gutenberg-mobile/gutenberg/packages/react-native-aztec/RNTAztecView.podspec</code>
  refer to a commit SHA instead of a stable release (e.g. 1.14.1) or refer to <em>different</em> versions, the steps in this section may need to be completed.</p>
<!-- /wp:paragraph -->
{{ else }}
<!-- wp:paragraph {"backgroundColor":"luminous-vivid-amber"} -->
<p>ℹ️ Aztec was not pointing to a stable release. Complete the following steps before cutting the release.</p>
<!-- /wp:paragraph -->
{{ end }}
{{ Task `Verify all Aztec PRs attached to the "Next Release" milestone or PRs with changes required for this Gutenberg release have been merged before next steps.` }}

{{ Task "Open a PR on Aztec repo to update the <code>CHANGELOG.md</code> and <code>README.md</code> files with the new version name." }}

{{ Task `Create a new release and name it with the tag name from step 1.
 For Aztec-iOS, follow <a href="https://github.com/wordpress-mobile/AztecEditor-iOS/blob/develop/Documentation/ReleaseProcess.md">this process</a>.
 For Aztec-Android, releases are created via the <a href="https://github.com/wordpress-mobile/AztecEditor-Android/releases">GitHub releases page</a> by hitting the “Draft new release” button,
 put the tag name to be created in the tag version field and release title field, and also add the changelog to the release description.
 The binary assets (.zip, tar.gz files) are attached automatically after hitting “Publish release”.` }}

{{ Task `Update Aztec version references within <code>gutenberg-mobile/RNTAztecView.podspec</code> and <code>gutenberg-mobile/gutenberg/packages/react-native-aztec/RNTAztecView.podspec</code>
 to the new <code>WordPress-Aztec-iOS</code> version.` }}