
<!-- wp:paragraph {"className":"p2-editor-autotitle"} -->
<p class="p2-editor-autotitle">Gutenberg Mobile {{ .Version }} – Release Scenario</p>
<!-- /wp:paragraph -->

{{ if .Message }}
<!-- wp:paragraph {"backgroundColor":"pale-cyan-blue"} -->
<p class="has-pale-cyan-blue-background-color has-background">{{ .Message }}</p>
<!-- /wp:paragraph -->
{{ end }}

{{ if .Scheduled }}
<!-- wp:heading {"level":3} -->
<h3>Before the Release (Tuesday)</h3>
<!-- /wp:heading -->

<!-- wp:group -->
<div class="wp-block-group">

  {{ Task "Visit all open gutenberg-mobile PRs that are assigned to %s milestone and leave a comment with a message similar to the following:" .Version }}

  <!-- wp:quote -->
  <blockquote class="wp-block-quote">
    <p>Hey [author]. We will cut the {{ .Version }} release on {{ .Date }}. I plan to circle back and bump this PR to the next milestone then, but please let me know if you'd rather us work to include this PR in {{ .Version }}. Thanks!
    </p>
  </blockquote>
  <!-- /wp:quote -->
</div>
<!-- /wp:group -->
{{ end }}

{{ if and .CheckAztec .IncludeAztec }}
{{ RenderAztecSteps false}}
{{ end }}

<!-- wp:heading {"level":3} -->
<h3>Create the Release{{ if .Scheduled }} (Thursday) {{end}}</h3>
<!-- /wp:heading -->

{{ Task `Pull the latest version of the <a href="https://github.com/wordpress-mobile/release-toolkit-gutenberg-mobile/releases">CLI</a>.` }}

{{ Task `Review the <a href="https://github.com/wordpress-mobile/release-toolkit-gutenberg-mobile/blob/develop/cli/Releasing.md">release script instructions</a>.
In your clone of the release scripts <code>cli</code> directory, run the prepare command:  <code>go run main.go release prepare all %s</code>. This creates the gutenberg and gutenberg-mobile release PRs.` }}

{{ Task `Once the CI tasks succeed, run the integrate command to create the main apps PRs for WordPress-iOS and WordPress-Android: <code>go run main.go release integrate %s</code> `}}

{{ if .Scheduled }}
<!-- wp:group -->
<div class="wp-block-group">
  {{ Task "Post a message similar to the following to the <code>#mobile-gutenberg</code> and <code>#mobile-gutenberg-platform</code> Slack channels:" }}

  <!-- wp:quote -->
  <blockquote class="wp-block-quote">
    <p>⚠️ The gutenberg-mobile {{ .Version }} release branches are now cut. Please do not merge any Gutenberg-related changes into the WPiOS or WPAndroid <code>trunk</code> branches until <em>after</em>
      the main apps cut their own releases next week. If you'd like to merge changes now, merge them into the <code>gutenberg/after_{{ .Version }}</code> branches.</p>
  </blockquote>
  <!-- /wp:quote -->
</div>
<!-- /wp:group -->
{{ end }}

{{ Task `Once the installable builds are ready, perform a quick smoke test of the editor on both iOS and Android to verify it launches without crashing.
We will perform additional testing after the main apps cut their releases.` }}

{{ Task `Fill in the missing parts of the gutenberg-mobile PR description. When filling in the "Changes" section, link to the most descriptive GitHub issue
 for any given change and consider adding a short description. Testers rely on this section to gather more details about changes in a release.` }}

{{ Task "Mark all 4 PRs ready for review and request review from your release wrangler buddy." }}

{{ if not .Scheduled }}

<!-- wp:paragraph {"backgroundColor":"luminous-vivid-amber"} -->
<p class="has-luminous-vivid-amber-background-color has-background">⚠️ In some release cases (like beta fixes), it's likely that the PRs could have conflicts with <code>trunk</code>. In this case, do not resolve merge conflicts by merging with <code>trunk</code> as this will introduce new and unexpected changes to the release. Instead, leave the conflicts until the release is integrated into the main apps, and then resolve the conflicts when merging the PRs back to <code>trunk</code>. Optionally, a second clone of the release branch can be created to verify the CI checks</p>
<!-- /wp:paragraph -->
{{ end }}

{{ if not .Scheduled }}
{{ Task `If this is a release for inclusion in the frozen WPiOS and WPAndroid release branches (i.e. this is a beta/hot fix, e.g. X.XX.2),
 ping the directly responsible individual handing the release of each platform of the main apps.` }}
{{ end }}

{{ if and .IncludeAztec .CheckAztec }}
{{ RenderAztecSteps (not .CheckAztec ) }}
{{ end }}

<!-- wp:heading {"level":3} -->
<h3>Manage Incoming Changes (conditional)</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>ℹ️ If additional changes (e.g. bug fixes) were merged into the gutenberg-mobile <code>release/{{ .Version }}</code> or in gutenberg <code>rnmobile/release-{{ .Version }}</code> branches, the steps in this section need to be completed.</p>
<!-- /wp:paragraph -->

{{ Task `After a merge happened in gutenberg-mobile <code>release/%s</code> or in gutenberg <code>rnmobile/release-%s</code>,
ensure the <code>gutenberg</code> submodule points to the correct hash and the <code>rnmobile/release-%s</code> in the gutenberg repo branch has been updated.` .Version .Version .Version }}

{{ Task `If there were changes in gutenberg repo, make sure to cherry-pick the changes that landed in the <code>trunk</code> branch back to the release branch
and don't forget to run <code>npm run bundle</code> in gutenberg-mobile again if necessary.` }}

{{ Task `Add the new change to the "Extra PRs that Landed After the Release Was Cut" section of the gutenberg-mobile PR description.` }}

<!-- wp:heading {"level":3} -->
<h3>Publish the Release{{ if .Scheduled }} (Thursday) {{end}}</h3>
<!-- /wp:heading -->

{{ Task `<a href="%s">Create a new gutenberg-mobile GitHub Release</a>. Include a list of changes in the release description. Ensure the checkmark "Set as the latest release" is checked, and <strong>publish the release with the "Publish release" button.</strong>` .ReleaseUrl }}

{{ Task `Wait until all CI jobs for the published tag finish and succeed.` }}

{{ Task `Navigate to the Buildkite job that built the JS bundles (<code>Build JS Bundles</code>) for the published tag. Open the job and navigate to the "Artifacts" tab. Locate the composed source maps (they have file name <code>bundle/{platform}/App.composed.js.map</code>) and download them.` }}

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
{{ Task `Navigate and edit the GitHub release. Attach the composed source maps to the release (you can drag and drop the files in the “Attach binaries” drop area). Once they are uploaded, update the artifact’s name following this format:` }}
<!-- wp:list -->
<ul><!-- wp:list-item -->
<li>File: <code>bundle/android/App.composed.js.map</code> – Artifact name: <code>android-App.js.map</code></li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>File: <code>bundle/ios/App.composed.js.map</code> – Artifact name: <code>ios-App.js.map</code></li>
<!-- /wp:list-item --></ul>

<!-- /wp:list --></div>
<!-- /wp:group -->

{{ Task `In WPiOS, update the reference to point to the <em>tag</em> of the Release created in the previous task.` }}

{{ Task `In WPAndroid, update the <code>gutenbergMobileVersion</code> in <code>build.gradle</code> to point to the <em>tag</em> of the Release used in the previous task.` }}

{{ Task `Main apps PRs should be ready to merge to their <code>trunk</code> branches now. Merge them or get them merged.`}}

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
{{ if not .Scheduled }}
{{ Task `Once everything is merged, send a heads up to our friends in the <code>#apps-infrastructure</code> Slack channel. Since this is a beta/hot fix (e.g. X.XX.2), directly mention the relevant Excellence Wranglers for the release with the following message:` }}
  <!-- wp:quote -->
  <blockquote class="wp-block-quote">
    <p>Hey team. I wanted to let you know that the mobile Gutenberg team has finished integrating the {{ .Version }} Gutenberg release into the WPiOS and WPAndroid <code>release/{{ .HostVersion }}</code> branches, ready for a new beta when you are available. Please let me know if you have any questions. Thanks!</p>
  </blockquote>
  <!-- /wp:quote -->
{{ else }}
{{ Task `Once everything is merged, send a heads up to our friends in the <code>#apps-infrastructure</code> Slack channel with the following message:` }}
  <!-- wp:quote -->
  <blockquote class="wp-block-quote">
    <p>Hey team. I wanted to let you know that the mobile Gutenberg team has finished integrating the {{ .Version }} Gutenberg release into the WPiOS and WPAndroid <code>trunk</code> branches. The integration is ready for the next release cut/build creation when you are available. Please let me know if you have any questions. Thanks!</p>
  </blockquote>
  <!-- /wp:quote -->
{{ end }}
</div>
<!-- /wp:group -->

{{ Task `Close the <a href="https://github.com/wordpress-mobile/gutenberg-mobile/milestones">Gutenberg Mobile milestone</a> that corresponds to this release.` }}

<!-- wp:heading {"level":3} -->
<h3>Merge Release Branches</h3>
<!-- /wp:heading -->

{{ Task `Resolve any conflicts with <code>trunk</code> and merge the gutenberg PR.` }}

{{ Task `Update the gutenberg reference on the gutenberg-mobile release branch to point to the Gutenberg PR merge commit` }}

{{ Task `Merge the <strong>gutenberg-mobile</strong> PR to <code>trunk</code>. Use "Create a merge commit" option when merging to avoid losing any commit history from the release branch.` }}

<!-- wp:heading {"level":3} -->
<h3>Clean Up Pending Work (After main apps cut)</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>
  ⚠️ This section may only be completed <em>after</em> the main apps cut their own release branches.
</p>
<!-- /wp:paragraph -->

{{ Task `Update the <code>gutenberg/after_%s</code> branches and open a PR against <code>trunk</code>. If the branches are empty we’ll just delete them.
The PR can actually get created as soon as something gets merged to the <code>gutenberg/after_%s</code> branches.
Merge the <code>gutenberg/after_%s</code> PR(s) only <em>AFTER</em> the main apps have cut their release branches.` .Version .Version .Version}}

<!-- wp:heading {"level":3} -->
<h3>Test the Release</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>ℹ️ Use the main WP apps to complete each the tasks below for both iOS and Android.</p>
<!-- /wp:paragraph -->

{{ Task `Test the new changes that are included in the release PR.` }}

{{ Task `Complete the <a href="https://github.com/wordpress-mobile/test-cases/tree/master/test-cases/gutenberg/writing-flow">general writing flow test cases</a>.` }}

{{ Task `Complete the <a href="https://github.com/wordpress-mobile/test-cases/blob/trunk/test-cases/gutenberg/unsupported-block-editing.md#unsupported-block-editing---test-cases">Unsupported Block Editor test cases</a>.` }}

{{ Task `Complete the <a href="https://docs.google.com/spreadsheets/d/1uJ_o1t5fxeCRfGWTTImmieNgXf_sLflB1iOnKLyhPAw/edit#gid=0">functionality tests scheduled for Android</a>` }}

{{ Task `Complete the <a href="https://docs.google.com/spreadsheets/d/1uJ_o1t5fxeCRfGWTTImmieNgXf_sLflB1iOnKLyhPAw/edit#gid=0">functionality tests scheduled for iOS</a>` }}

<!-- wp:paragraph -->
<p>For the remainder of the main app release period, monitor main app release P2 posts for issues found.</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3} -->
<h3>Finish the Release</h3>
<!-- /wp:heading -->

{{ Task `Update the <a href="https://docs.google.com/spreadsheets/d/15U4v6zUBmPGagksHX_6ZfVA672-1qB2MO8M7HYBOOgQ/edit?usp=sharing">Release Incident Spreadsheet</a> with any fixes that occurred after the release branches were cut.` }}

{{ if not .Scheduled }}
{{ Task `Message the next release wrangler in the <code>#mobile-gutenberg-platform</code> Slack channel <strong>providing them with a tentative schedule</strong>
for the next release. This will help ensure a smooth hand off and sets expectations for when they should begin their work.` }}
{{ end }}
{{ Task `Celebrate! 🎉` }}

<!-- wp:paragraph -->
<p>+mobilegutenberg</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>#gutenberg-mobile</p>
<!-- /wp:paragraph -->
