<!-- wp:p2/task {"assigneesList":[]} -->
    <div class="wp-block-p2-task">
      <div>
        <span class="wp-block-p2-task__emoji-status" title="Pending">⬜ </span>
        <div class="wp-block-p2-task__checkbox-wrapper">
          <span title="Pending" class="wp-block-p2-task__checkbox is-disabled is-aria-checked-false"></span>
        </div>
      </div>
      <div class="wp-block-p2-task__main">
        <div class="wp-block-p2-task__left">
          <div class="wp-block-p2-task__content-wrapper">
            <span class="wp-block-p2-task__content">{{ .Description }}</span>
          </div>
          <div class="wp-block-p2-task__dates"></div>
        </div>
        <div class="wp-block-p2-task__right">
          <div class="wp-block-p2-task__assignees-avatars"></div>
        </div>
      </div>
    </div>
  <!-- /wp:p2/task -->